
%legend Sign up for Beta site!
%form{"accept-charset" => "UTF-8", :action => "", :method => "post"}
	%input.span3{:name => "name", :placeholder => "Full Name", :type => "text"}
	%input.span3{:name => "username", :placeholder => "Username", :type => "text"}
	%input.span3{:name => "password", :placeholder => "Password", :type => "password"}
	%button.btn.btn-warning{:type => "submit"} Sign up