.hero-unit
	%h3 What's Grabea?
	%p 
		= Faker::Lorem.paragraph(sentence_count = 3, supplemental = true, random_sentences_to_add = 3)

.how-it-works.hero-unit
	%h3 How it Works?
	%p 
		= Faker::Lorem.paragraph(sentence_count = 3, supplemental = true, random_sentences_to_add = 3)
	

	

