<% provide(:title, 'About Us') %>
<div class="hero-unit">
	<h1 class="pull-left">What's Vork?</h1>
	<br>
	<br>
	<br>
	<p>
  Trying to make some quick cash on the side, so do we. We have created Vork with the intention of helping people achieve more financial independence and security by creating a platform in which users themselves help each other
	</p>
</div>
