%button.pure-button A Pure Button

%form.pure-form
  %fieldset.pure-group
    %input.pure-input-1-2{:placeholder => "Username", :type => "text"}/
    %input.pure-input-1-2{:placeholder => "Password", :type => "text"}/
    %input.pure-input-1-2{:placeholder => "Email", :type => "email"}/
    %input.pure-input-1-2{:placeholder => "Another Group", :type => "text"}/
    %input.pure-input-1-2{:placeholder => "More Stuff", :type => "text"}/
  %button.pure-button.pure-input-1-2.pure-button-primary{:type => "submit"} Sign in



