<% provide(:title, 'Home') %>
<div class="hero-unit">
  <h1>Find Vork</h1>

<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>







