.field
  = form_for(@user, :url => { :action => 'update', :id => @user.id}) do |f|
    .field
      = f.text_area :bio, placeholder: "Your Bio", class: "text"
    = f.submit "Post", class: "medium default btn"
	