
<div class="page-header">
<h2>All Gigs</h2>
</div>

<div class="container">
<div class"row">
  <div class ="span 3">
    <ul class="nav nav-tabs nav-stacked">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Messages</a></li>
    </ul>
  </div>

  <div class ="span 6"><% @posts.each do |post| %>
  
    <div class="post">
      <strong><%= post.user.full_name %></strong>
      <p><%= post.content %></p>
      <div class="meta">
      </div>
    </div>
  
  <%end%></div>

  <div class ="span 3 pull-right">
    <%= link_to "Post a Job", new_post_path, class: "pull-right btn btn-success" %>
  </div>

</div>
</div>

<br>




