.feed_item.row
	%span.feed_item_photo
		PHOTO
	%strong.feed_item_title
		%span
			Petar Ivacic
		%span
			posted new idea
		%span
			@grabea.
		%span
			1hr ago.
	%span.row.feed_item_content
		%span
			Content goes here. Content goes here. Content goes here. Content goes here. Content goes here. Content goes here. Content goes here. 140char
		%span
			(More)
	%span.row.feed_item_actions
		%span
			%a Like
		%span
			• 
		%span
			%a Dislike
		%span
			• 
		%span
			%a Comment
		%span
			• 
		%span
			%a Share
		


