<%= form_for(current_user.microposts.build(micropost_id: @user.id),
             remote: true) do |f| %>
  <div><%= f.hidden_field :micropost_id %></div>
  <%= f.submit "Like", :class => "btn btn-small btn-primary" %>
<% end %>