<footer class="footer">
  <small>
    <a href="http://vork.com/">vork.com</a>
    by Petar Ivacic & Uros Predic
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>